* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

body {
  background: black;
  color: #00ff66;
  height: 100vh;
  overflow: hidden;
}

/* INTRO */
.intro {
  position: fixed;
  inset: 0;
  background: black;
  color: #00ff66;
  padding: 40px;
  font-size: 15px;
  animation: flicker 0.15s infinite;
}

@keyframes flicker {
  50% { opacity: 0.95; }
}

/* SCAN BAR */
.scan-bar {
  height: 6px;
  background: #002200;
}

#scanProgress {
  height: 100%;
  width: 0%;
  background: linear-gradient(90deg,#00ff66,#fff,#00ff66);
  box-shadow: 0 0 15px #00ff66;
}

/* TERMINAL */
.terminal {
  width: 720px;
  margin: 60px auto;
  border: 2px solid #00ff66;
  padding: 20px;
  box-shadow: 0 0 30px #00ff66;
}

.hidden {
  display: none;
}

h1 {
  text-align: center;
  margin-bottom: 15px;
}

.info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.barra {
  height: 15px;
  border: 1px solid #00ff66;
  margin-bottom: 15px;
}

#progress {
  height: 100%;
  width: 0%;
  background: #00ff66;
}

#status {
  text-align: center;
  margin-bottom: 15px;
}

.codes {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 10px;
}

.code {
  border: 1px solid #00ff66;
  padding: 12px;
  text-align: center;
  cursor: pointer;
}

.code:hover {
  background: #00ff66;
  color: black;
}

.scan-text {
  text-align: center;
  margin-top: 40px;
  animation: blink 1s infinite;
}

@keyframes blink {
  50% { opacity: 0; }
}
.painel-info {
  position: fixed;
  right: 20px;
  top: 80px;
  width: 220px;
  height: 180px;
  border: 2px solid #00ff66;
  padding: 10px;
  background: rgba(0, 20, 0, 0.85);
  box-shadow: 0 0 20px #00ff66;
  font-size: 12px;
}

.painel-info h3 {
  text-align: center;
  margin-bottom: 10px;
  border-bottom: 1px solid #00ff66;
  padding-bottom: 4px;
}

.painel-info span {
  color: #00ffaa;
}
/* Duas imagens do topo */
.galeria-topo {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
}

.galeria-topo img {
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 0 15px #00ff88;
}

/* Imagem do jogo */
.img-jogo {
    display: block;
    margin: 0 auto 20px auto;
    width: 350px;
    border-radius: 10px;
    box-shadow: 0 0 20px #00ff88;
}